@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;600&display=swap');

body{
    overflow-y: hidden;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}
.date{
  font-family: 'Poppins', sans-serif;
}
.side-1{
  background-color: #2E930B;
  width:9px;
  height: 100%;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
@media screen and (max-width: 754px) {
  li h6,.responde{
    font-size: 12px;
  }
  .calendar-title{
    margin-top: 200px;
  }
  .listen{
    display: none;
  }
  .expand{
    display: block;
  }

  #show-sidebar{
    display: block;
  }
  .move{
    margin-left: 24px;
  }
}
@media screen and (min-width: 601px) {
  #show-sidebar{
    display: none;
  }
  li h6,.responde{
    font-size: 15px;
  }
  .listen{
    display: block;
  }
  .calendar-title{
    margin-top: 12rem;
  }
  .calendar-panel{
    margin-top: 40px;
  }
}
@media screen and (max-width: 767px) {
  .page-title{
    font-size: 14px;
  }
  #show-sidebar{
    display: block;
  }
  .move{
    margin-left: 33px;
  }
}
@media screen and (min-width: 601px) {
  .page-title{
    font-size: 16px;
  }
}
.home{
  background-color: #256363;
}
.side-bar {
    background-color: #32BDA6;
    height: 120vh;
    float: left; 
}
.side-bar-teacher{
  background-color: #39597C;
  height: 120vh;
  float: left;
}
.right{
  background: #E5E5E5;
  height: auto;
}
.right-side{
  height: calc(100vh - 3px);
  overflow-y: auto;
  overflow-x: hidden;
}
.panel-design{
  background-color: #1E436B;
  width:8px;
  height: 100%;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.panel-design-2{
  background-color: #32BDA6;
  width:8px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.panel{
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}
.panel-design-3 {
  background-color: #9D0000;
  width:8px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.avatar{
    width:150px;
    height: 150px;
    position: relative;
}



